/WCount/.idea
/Caesar/.idea
/Caesar/Caesar/.idea
/Pow/Pow/.idea
/ConCat/.idea
/NLine/.idea
/Parrot/.idea
/Far/Far/.idea
/Where/Where/.idea
/Average/.idea
/Pow/.idea
/Round/.idea
/Far/.idea
/Today/.idea
/Today/Today.Cli/obj
/Today/Today.Library/obj
