/WCount/.idea
/Caesar/.idea
/Caesar/Caesar/.idea
/Pow/Pow/.idea
/ConCat/.idea
/NLine/.idea
/Parrot/.idea
/Far/Far/.idea
/Where/Where/.idea
/Average/.idea
/Pow/.idea
/Round/.idea
/Far/.idea
/Today/.idea
/Today/Today.Cli/obj
/Today/Today.Library/obj
/LoginName/.idea
*.cache
/LoginName/LoginName.Cli/obj
/NewDir/.idea
LoginName/LoginName.sln.DotSettings.user
/NewDir/NewDir.Cli/obj
/NewDir/NewDir.Library/obj
*.user
/Moment/.idea
/Moment/Moment.Cli/obj
/Moment/Moment.Library/obj
/DelDir/.idea
/DelDir/DelDir.Cli/obj
/DelDir/DelDir.Library/obj
/Del/.idea
/Del/Del.Cli/obj
/Del/Del.Library/obj
/Del/Del.Cli/bin
/Del/Del.Library/bin
/.idea
/Basis.Cli/obj
/BasisBox.Cli/obj
