
/pow/.idea
/round/.idea
/sarcasm/.idea
/where/.idea
/far/.idea
/caesar/src/caesar/.idea
/average/.idea
/average/average/.idea
/average/.vs
/average/average/obj
/old_pow/.idea
/pow/.idea
/WCount/.idea
/Caesar/.idea
/Caesar/Caesar/.idea
/Pow/Pow/.idea
/ConCat/.idea
